nav{
	background-color: blueviolet;
}

nav > ul > li {
	position: relative;
}
nav ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	text-align: center;

}

nav ul ul {
	position: absolute;
	display: block;
	background-color: green;            /* this creates the opacity changing affect*/
	padding: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 1s ease-in;
	pointer-events: none;
}
 nav > ul > li:hover ul {
 	opacity: 1;
 	pointer-events: auto;
 }
