body{
    margin-top: 100px;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url(https://wallpapertag.com/wallpaper/full/f/5/3/149826-new-orange-and-black-background-2560x1600-for-iphone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
}
.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid rgb(253, 2, 2);
    border-bottom: 0.2em solid rgb(241, 9, 9);
}
a:hover{
	color: red;
}


h1{
    font-family: 'East Sea Dokdo', cursive;

}
nav{
    font-family: 'East Sea Dokdo', cursive;
}
.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid rgb(243, 7, 7);
}
nav{
	background-color: yellowgreen;
}

nav > ul > li {
	position: relative;
}
nav ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	text-align: center;

}

nav ul ul {
	position: absolute;
	display: block;
	background-color: green;            /* this creates the opacity changing affect*/
	padding: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s ease-in;
	pointer-events: none;
}
 nav > ul > li:hover ul {
 	opacity: 1;
 	pointer-events: auto;
 }
 .grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 15px;
  }